@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

$headerFont: 'Play', sans-serif;
$bodyFont: 'Montserrat', sans-serif;
$bg: rgb(18, 18, 18);
$lightBg: #1d1d1d;

@mixin respond($breakpoint) {
    @if $breakpoint == large {
      @media (max-width: 1440px) { @content };
    }
    @if $breakpoint == medium {
      @media (max-width: 1024px) { @content };
    }
    @if $breakpoint == small {
        @media (max-width: 800px) { @content };
      }
      @if $breakpoint == x-small {
        @media (max-width: 500px) { @content };
      }
  }

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: $bodyFont;

}
body {
    background-color: $bg;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $headerFont;
    letter-spacing: .2rem;
}
a {
    font-family: $bodyFont;
    // font-style: italic;
    text-transform: uppercase;
    font-size: 1.3em;
    text-decoration: none; 
    border-bottom: 1px solid white;
    &:hover {
        opacity: .7;
        transition: 0.2s ease-in-out;
    }
}

div , p {
    line-height: 1.6;
}
.nav-container {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
    @include respond(medium){
        padding:5em 2rem;
    }

    .nav-toggle {
     z-index: 35;
     pointer-events: all;
    }
    .nav-links {
        background-color: $bg;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 40vh;
        z-index: 30;
        pointer-events: all;
        @include respond(small) {
            height: 100vh;
        }
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 3em;
            box-sizing: border-box;
            height: 100%;
            @include respond(small){
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                font-family: $bodyFont;
                @include respond(small){
                    text-align: center;
                }
                    a {
                        text-decoration: none;
                        border: none;
                        @include respond(small){
                            margin: 1rem;
                            font-size: 2em;
                        }
                        @include respond(x-small){
                            margin: 1.5rem;
                            font-size: 1em;
                        }
                }
                h2 {
                    font-size: 3rem;
                    text-transform: uppercase;
                    color: rgb(70, 70, 70);
                    font-family: $headerFont;
                    @include respond(small){
                        display: none;
                    }
                }
            }
        }
    }

    .logo-container {
    pointer-events: all;
    z-index: 35;
    a {
        border: none;
        &:hover {
            opacity: 1;
        }
    }
    
        img {
            max-width: 130px;
        }
    }

}

.circular-text {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 70%;
    right: 5%;
    z-index: 70;

    #rotate {
    font-size: 0.7em;
    }
    a {
        font-size: 1em;
        position:absolute;
        transform: translateX(-50%);
    }
}

.hero-container {
    width: 100%;
    height: 100vh;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    .hero-text {
        z-index: 5;
        width: 50%;
        .hero-paragraph {
            display: flex;
            justify-content: center;
            * {
            font-family: $headerFont;
            font-size: 3em;
            text-transform: uppercase;
            text-align: center;
        }
            img {
                width:min(40vw, 50vw);
                display: flex;
                flex-direction: column;
            }
        }
        .scroll-indicator {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateY(13em);
            .scroll-vertical-line {
                height: 45px;
                .vertical-line{
                width: 1px; 
                background-color: #fff; 
                height: 0%; 
            }
        }
        span {
            font-family: $headerFont;
        }
        }
        .hero-cta{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 2em;
            box-sizing: border-box;
        }
    }

    .hero-video {
        position:absolute;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
        z-index: 0;
        
        .video-overlay {
        position:absolute;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
        background-color:$bg;
        opacity: .8;
        height: 100%;
        }
        video {
        z-index: -1;
        }
    }
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5em;
    box-sizing: border-box;
    background-color: $lightBg;
    @include respond(small){
        flex-direction:column;
    }

    .about-text {
        width: 50%;
        padding: 9em 9em;
        box-sizing: border-box;
        @include respond(large){
            padding: 9em 0em 9em 9em;
        }
        @include respond(medium){
            width: 100%;
            padding: 6rem 4rem;
        }
        @include respond(x-small){
            padding: 4rem 0rem;
        }
    }
    .about-images {
        width: 50%;
        @include respond(large) {
            text-align: center;
        }
        @include respond(small){
            width: 100%;
        }
        img {
            &:nth-child(1) {
                max-width: 300px;
            }
            &:nth-child(2) {
                transform: translate(-2em, 4em);
                max-width: 50%;
            }
            &:nth-child(3) {
                transform: translate(0em, 2em);
                max-width: 60%;
            }
            &:nth-child(4) {
                display: none;
            }
            @include respond(large) {
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    max-width: 70%;
                }
              }
              @include respond(small){
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    max-width: 100%;
                }
              }
              @include respond(x-small){
                &:nth-child(4) {
                    display: block;
                    max-width: 100%;
                }
                &:nth-child(3) {
                    display: none;
                }
              }
        }
    }
}

.work-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    @include respond(small) {
        flex-direction: column;
    }
    div {
        display: flex;
        justify-content:center;
        align-items: center;
        width: 50%;
        overflow: hidden;
        position: relative;
        @include respond(small){
            height: 80%;
            width: 100%;
        }
        .overlay {
            background-color: #121212;
            z-index: 3;
            height: 100%;
            width: 100%;
            opacity: .7;
        }
        h2 {
            font-size: 2.5rem;
            @include respond(medium){
                font-size: 1.8rem;
            }
        }
        & > * {
            z-index: 5;
            position: absolute;
          }
    }
    .film-prod-section {
        video {
            z-index: 1;
            object-fit: cover;
        }
    }
    .photo-section {
        img {
            width: 100%;
            z-index: 1;
            object-fit: cover;
        }

    }

}
.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $lightBg;
    > h2 {
        width: 100%;
        text-align: center;
    }
    .services-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 9em;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
        .service {
            width: 50%;
            padding: 5rem;
            box-sizing: border-box;
            @include respond(medium){
                width: 100%;
                padding: 2rem 2rem;
            }
        }
    @include respond(x-small){
        padding: 5rem 3em;
    }    
    }
}

.contact-section {
    display: flex;
    flex-direction: row;
    @include respond(medium){
        flex-direction:column-reverse;
    }
    @include respond(small){
        padding: 5em 4em;
    }
    align-content: space-around;
    padding: 5em 9em;
    box-sizing: border-box;
    .contact-form {
        padding: 5rem;
        box-sizing: border-box;
        width: 50%;
        @include respond(medium){
        width: 100%;
        padding: 2rem;
        }
        .cta-text {
            padding: 1rem 0rem;
            box-sizing: border-box;
        }
        .cta-form {
                form {
                display: flex;
                flex-direction: column;
                    .form-groups {
                      .btn-send {
                        background: none !important;
                        border: none ;
                        outline:none;
                        border-bottom: 1px white solid;
                        cursor: pointer;
                        font-size: 1em;
                      }// btn-send
                        .form-group {
                        padding: 1rem 0rem;
                        box-sizing: border-box;
                        .form-control {
                        border-radius: 0;
                        border: none;
                        border-bottom: 1px solid #fff;
                        transition: all .5s;
                        background-color: $bg;
                        width: 100%;
                        padding: .5rem .75rem;
                        font-size: 1rem;
                        line-height: 1.25;
                        color: #55595c;
                          &:focus {
                            color: #fff;
                            background-color: lighten( $bg,30%);
                            border-bottom: 1px solid #fff;
                            outline: 0;
                          }
                        }//.form-control
                
                        .form-submit {
                          color:#fff;
                        }
                      }// .form-group
                
                    }// .form-groups

            }
        }
    }
    .clients {
        
        width: 50%;
        padding: 3rem;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-auto-rows: minmax(min-content, max-content);
        align-items: center;
        @include respond(medium){
            padding: 0rem;
            width: 100%;
            grid-auto-rows: minmax(min-content, max-content);
            grid-template-columns: auto auto auto auto;
        }
        @include respond(small){
            grid-template-columns: auto auto auto;
        }
        @include respond(x-small){
            grid-template-columns: auto auto;
        }
        .client-wrapper {
            display: contents;
            .client-logo {
                width: 90%;
                padding: 1em;
                box-sizing: border-box;
                
            }   
        }
    }
}

.portfolio-section {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 100vh;
    height: auto;
    
.portfolio-list {
    width: 50%;
    padding: 10rem 3rem;
    box-sizing: border-box;
    @include respond(small){
        width: 100%;
    }
    .project-display {
        padding: .5rem;
        @include respond(small){
            padding: 2rem;
        }
        .project-thumbnail {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            z-index: 50;
            text-align: center;
            pointer-events: none;
            img {
                width: 100%;
                opacity: 0;
                
            }
        }
        .project-title {
            font-size: 2.8em;
            -webkit-text-stroke: 1px white;
            color: transparent;
            font-family: $headerFont;
            font-weight: 900;
            color: transparent;
            letter-spacing: .05em;
            text-transform: uppercase;
            text-decoration: none;
            border: none;
            transition: color .5s ease-out;
            line-height: 1;
            @include respond(small){
                font-size: 2em;
                color: white;
            }
            @include respond(x-small){
                font-size: 1.5em;
            }
            &:hover {
              opacity: 1;
              color: #fff;  
            }
        }
    }
}
.film-prod-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    @include respond(small){
        display: none;
    }
    a {
        text-decoration: none;
        border: none;
        pointer-events: none;
        &:hover {
            opacity: 1;
        }
       h2 {
        font-size: 2.5em;
       } 
    }
}
}
.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10rem 3rem;
    .project {
        width: 50%;
        text-align: center;
        @include respond(small){
            width: 100%;
        }
        @include respond(medium){
            width: 80%;
        }
        .project-title {
            padding: 1rem;
        }
        .project-preview {
            .project-thumbnail {

            
            .Thumb-play {
                cursor: pointer;
            }
            &:after, &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                pointer-events: all;
                cursor: pointer;
              }
              &:after {
                width: 0;
                height: 0;
                border: 16px solid transparent;
                border-left: 20px solid #fff;
                margin-top: -18px;
                margin-left: -7px;
                -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.25));
              }
              &:before {
                margin-top: -34px;
                margin-left: -34px;
                width: 60px;
                height: 60px;
                border: 3px solid #fff;
                border-radius: 50%;
                box-shadow: 0 0 4px rgba(black, 0.18);
                background: rgba(black, 0.42);
              }
              &:hover {
                &:before {
                  background: rgba(black, 0.7);
                }
              }
        }
        }

        .project-description {
            text-align: left;
        }
    }
}

.photography-section {
    padding: 10rem 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    .photo-grid {
        width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    @include respond(small){
        grid-template-columns: auto auto;
    }
    @include respond(x-small){
        grid-template-columns: auto;
    }
    .close-btn {
        z-index:30;
        position: fixed;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);
        @include respond(small){
            
        }
    }
    .photo-container {
        max-width: 100%;
        padding: 1em;
        a {
            border: none;
        }
        img {
            max-width: 100%;
            cursor: pointer;
            @include respond(small){
            display: none;    
            }
        }
        .mobile-fix {
            display: none;
            @include respond(small){
                display: inline;    
            }
        }
    }
    }
}
.zoom-modal {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $bg;
    z-index: 20;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.videoModal {
    width: 100%;
    height: 100vh;
    background-color: $bg;
    z-index: 20;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    place-items: center;
    grid-auto-rows: 10fr 1fr;
    div {
        height: 90%;
        width: 90%;
        iframe {
            width: 100% !important;
            height: 100%;
        }
    }
}